<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
      <trace autoflush="true"></trace>
      <sources>
        <source name="ExperimentManager" switchValue="Verbose">
          <listeners>
            <remove name="Default"></remove>
            <add name="console"></add>
            <add name="file"></add>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"></add>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="trace.txt"></add>
      </sharedListeners>
    </system.diagnostics>

  <userSettings>
    <NewConverter.Properties.Settings>
      <setting name="ShouldExportExperiment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExperimentTimeStepInSeconds" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExperimentMergeMode" serializeAs="String">
        <value>KeepAll</value>
      </setting>
      <setting name="RecorderMergeMode" serializeAs="String">
        <value>Crop</value>
      </setting>
      <setting name="ShouldExportRecorder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AbsoluteTimeFormat" serializeAs="String">
        <value>yyyy-MM-dd HH:mm:ss.fff</value>
      </setting>
      <setting name="BaseDirectory" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="InterpolationMode" serializeAs="String">
        <value>Nearest</value>
      </setting>
      <setting name="ReorderVariables" serializeAs="String">
        <value>True</value>
      </setting>
    </NewConverter.Properties.Settings>
  </userSettings>
</configuration>
