<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConvertMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConvertMerge.Properties.Settings>
            <setting name="ShouldExportExperiment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExperimentTimeStepInSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExperimentMergeMode" serializeAs="String">
                <value>KeepAll</value>
            </setting>
            <setting name="RecorderMergeMode" serializeAs="String">
                <value>Crop</value>
            </setting>
            <setting name="ShouldExportRecorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbsoluteTimeFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss.fff</value>
            </setting>
            <setting name="BaseDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="InterpolationMode" serializeAs="String">
                <value>Linear</value>
            </setting>
            <setting name="ReorderVariables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportToPuma" serializeAs="String">
                <value>False</value>
            </setting>
        </ConvertMerge.Properties.Settings>
    </userSettings>
</configuration>